<!-- main template for all the things -->
<header>
    {{ title }}
</header>

<nav>
    <label>Add a Name</label>
    <input [(ngModel)]="babyname.name" placeholder="name">
</nav>

<article>
    <div>list goes here</div>
    <div>
        <h3>details go here. this will really be on a detail page</h3>
        <div>id: {{ babyname.id }}</div>
        <div>name: {{ babyname.name }}</div>
        <div>middle names: coming soon</div>
        <div>meaning, details, etc: coming soon</div>
    </div>
</article>