<article>
    <div>
        <h3>list goes here</h3>
        <ul class="namelist">
            <li *ngFor="let babyname of babynames" 
            (click)="onSelect(babyname)"
            [class.selected]="babyname === selectedBabyname">
                {{babyname.id}}: {{babyname.name}}
            </li>    
        </ul>
    </div>
    <div *ngIf="selectedBabyname">
        <h2>{{ selectedBabyname.name }}</h2>
        <button (click)="gotoDetail()">View Details</button>
    </div>    
</article>