<div *ngIf="babyname">
    <h3>name details</h3>
    <div>name: <input [(ngModel)]="babyname.name" placeholder="name"></div>
    <div>middle names: 
        <!--<input [(ngModel)]="babyname.middle" placeholder="middle name">-->
        <ul *ngIf="babyname.middle">
            <li *ngFor="let middle of babyname.middle">
                {{middle}}
                <button (click)="removeMiddleName(middle)">x</button></li>
        </ul>  
        <label>Add Middle Name:</label>
        <input #newMiddle placeholder="Add Middle Name">
        <button (click)="addMiddleName(newMiddle.value)">add</button>
    </div>
    <div>meaning, details, etc: coming soon</div>
    <button (click)="goBack()">Back</button>
    <button (click)="save()">Save</button>
</div>